/* Banner Section */
.detail-banner {
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  position: relative;
}

.detail-banner img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 1000px;
  object-fit: cover;
}
