/* Tab Content */
.tab-content {
  background: white;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

/* Program Timeline */
.program-timeline {
  position: relative;
  padding-left: 40px;
}

.timeline-item {
  position: relative;
  margin-bottom: 25px;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-dot {
  position: absolute;
  left: -40px;
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: #FF6B6B;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #FF6B6B;
}

.timeline-item:not(:last-child)::before {
  content: '';
  position: absolute;
  left: -32px;
  top: 25px;
  width: 2px;
  height: calc(100% + 10px);
  background-color: #FF6B6B;
}

.timeline-content p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}
